/* Inserta tu codigo aqui */
header{padding: 2px;
       margin: 2px;
       color: #fff;
       border-bottom: solid #ffffff 1px;
       background: #4dff4d;}
.logo{width: 80px;
      height: 80px;} 
nav ul{list-style-type: none;
       padding-top: 34px;
       margin: 0 -15px 0 0;
       float: right;
       font-size: 14px;
       text-transform: uppercase;
       white-space: nowrap;}
nav li{position: relative;
       float: left;
       margin: 0;
       padding:0;} 
nav li:hover a{background: #e0e0d1;} 
nav a{text-decoration: none;
      padding: 10px 15px;
      color: #000000;
      }  
nav a:hover{color: #fff;}
  
.uno{height: 300px;
     width: 100%;}
  p{color: #000000;
      text-align: center;
     margin-left: 120px;
     margin-right: 120px;
     font-size: 12.50px;
     margin-top: 28px;
     margin-bottom: 28px;}                            
.contenedor{width: 100%;}
.img{display: inline-block;}
                              
.seccion{
      margin-top: 30px;
      padding right:0;
      padding left:0;
}
.seccion1 img{
      width: 100%;
}
.seccion1 .c{
      background: url("../img/fondo.jpg");
     background-size: contain;
}
